
@{
    ViewData["Title"] = "BlogExcellistesi";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h1>Blog Excel Listesi</h1>
<br />
<a href="/Admin/Blog/BloglarExcelListesi" class="btn btn-primary">Excel Listeyi İndir</a>

@*<button class="btn btn-primary" onclick="downloagexcellist">Blog Excel Listesini indir</button>

<script>
    function downloagexcellist() {
        wind.open("/Admin/Blog/BloglarExcelListesi");
    }
</script>*@
