<!--Mail bültenine abone olma sayfası-->

<link href="~/css/sweetalert2.min.css" rel="stylesheet" />
<!--Sweet alart-->
<script src="~/lib/jquery/dist/sweetalert2.min.js"></script>

<script src="~/lib/jquery/dist/jquery-3.6.0.min.js"></script>

<div class="tech-btm">
    <p>Teknoloji, yazılım ve diğer bloglar... </p>
    <input type="submit" id="submit" value="Abone ol" required>
</div>
<script type="text/javascript">
    $(document).on("click", "#submit", async function () {
        const { value: formValues } = await Swal.fire({
            title: 'Bültene Abone Ol..',
            showCancelButton: true,
            cancalButtonText: 'İptal',
            cancelButtonColor: 'd43f3a',
            confirmButtonText: 'Kayıt ol',
            confirmButtonColor: '337ab7',
            html:
                '<input id="Mail" placeholder="E-mail Adresinizi Giriniz" class="swal2-input" > ',
            focusConfirm: false,
            preConfirm: () => {
                return [
                    document.getElementById('Mail').value
                ]
            }
        })
        $.ajax({
            url: '@Url.Action("SubscribeMaill", "NewsLetter")',
            type: 'POST',
            dataType: 'json',
            data: { Mail: formValues[0] },
            success: function (gelenDeger) {
                if (gelenDeger == '1') {
                    Swal.fire({
                        icon: 'success',
                        type: 'success',
                        title: 'Başarılı!',
                        text: 'Abonelik başarkılı!',
                        showConfirmButton: true,
                        confirmButtonText: 'Tamam'
                 })
             }
             else
             {
                    Swal.fire({
                        type: 'error',
                        position: 'center',
                        icon: 'warning',
                        title: 'Hata!',
                        text: 'Bir hata oluştu, mail adresinizi girerek tekrar deneyin!',
                        showConfirmButton: true,
                        confirmButtonText: 'Tamam'
                 })
             }
            }
         });
    });
</script>